html, body {
    height: 100%;
    max-width: 1200px;
    margin: 2% auto;
    padding: 0;
}

h1 {
    font-size: 2em;
}

.banner {
    position: relative;
    
}

.banner img {
    position: absolute;
    transform: translateY(-90%);
    animation-name: moverse;
	animation-duration: 4s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes moverse {
    0% {
        right: -5%;
    }
    100% {
        right: 54%;
    }
}

.pallaso {
    position: absolute;
}

.llagrima {
    width: 100px;
    transform: translate(85%, 75%);
}

#audio {
    transform: translate(16%, 160%);
}